@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .section-pad-t
    padding-top: 75px
  .section-pad-b
    padding-bottom: 75px
  .b-header-main
    flex-direction: column
    justify-content: center
  .b-nav
    margin-top: 0
    margin-bottom: 0
  .b-phone
    margin-top: 0
    margin-bottom: 0

// ≥992px
+media-breakpoint-down(md)
  .section-pad-t
    padding-top: 60px
  .section-pad-b
    padding-bottom: 60px
  .news-preview-slider
    padding-bottom: 0
    .slick-dots
      margin-top: 50px
  .b-thanks-slider
    padding-bottom: 0
  .news-preview__show-all
    left: 50%
    bottom: 40px
    transform: translateX(-50%)
    text-align: center
  .b-footer
    padding: 35px 0
  .b-footer-container
    flex-direction: column
    align-items: center
    text-align: center
  .b-footer-path + .b-footer-path
    margin-top: 10px
  .b-footer-nav
    li
      margin: 3px 0
  .b-footer__confidentiality
    margin: 15px 0 25px
  .b-footer-logo
    margin-bottom: 5px
  .b-logo
    max-width: 160px
  .b-header-main
    padding: 0 15px
  .b-nav
    margin-left: -7px
    margin-right: -7px
  .b-nav__link
    margin: 0 7px
  .b-header__request-call
    padding: 10px 15px
  .b-main-section__body
    padding: 90px 0
  .b-advantages
    padding: 25px
    min-height: 295px
  .b-believe-goods
    margin-bottom: 0
  .b-main-section-link
    &:hover
      &:after,
      .b-main-section-link__hidden
        display: none
  .b-thanks-slider--bg
    margin-bottom: 40px
  .b-thanks-slider-path
    margin-bottom: 0
  .b-advantages-3
    justify-content: center
    flex: 0 0 calc(100% / 2)
    max-width: calc(100% / 2)
// ≥768px
+media-breakpoint-down(sm)
  .section-pad-t
    padding-top: 45px
  .section-pad-b
    padding-bottom: 45px
  .section-pad-t--sm
    padding-top: 25px
  .section-pad-b--sm
    padding-bottom: 25px
  .b-main-section__title h1,
  h1
    font-size: 32px
  h2
    font-size: 28px
  .btn
    padding: 16px 26px
  .b-main-section__body
    padding: 65px 0
  .b-main-section__title
    margin-bottom: 30px
  .b-main-section__footer
    .container
      max-width: 100%
      width: 100%
      padding: 0
  .b-main-section-link
    padding: 25px 15px
    font-size: 20px
    font-weight: 300
    &:nth-child(2n)
      border-left: none
      border-top: 1px solid $gray2
  .news-preview
    padding: 20px
  .b-header-main
    display: none
    position: absolute
    left: 0
    top: 0
    width: 100%
    padding: 100px 0
    background: $gray8
    z-index: 2
  .b-nav
    li
      display: block
      text-align: center
  .b-nav__link
    margin: 10px 0
  .b-logo
    padding: 15px 0
    margin-bottom: 5px
  .b-header__request-call
    margin-bottom: 20px
    border-radius: 3px
    text-align: center
    justify-content: center
    padding: 15px
    font-size: 16px
  .b-autopark-car-table
    margin-bottom: 35px
  .b-advantages
    flex: 0 0 100%
    max-width: 100%
    & +  .b-advantages
      margin-top: 25px
  .b-preview-car--row
    flex-direction: column
    text-align: center
    .b-preview-car__img
      flex: 0 0 100%
      max-width: 100%
      width: 100%
      margin: 0 0 15px 0
  .b-preview-car--col
    margin-bottom: 30px
  .b-document
    margin: 0px 0 30px
  .b-history-wrap
    flex-direction: column
    padding: 0
    &:before
      width: 1px
      height: 100%
      left: 9px
  .b-history__year
    margin: 10px 0
    left: 40px
    transform: (translateY(-50%) !important)
    text-align: left
    &:after
      display: none
  .b-history
    margin: 5px 0
    box-shadow: none
    &:before
      left: 10px
      transform: translateX(-50%) translateY(30px)
  .b-history__hidden
    position: relative
    width: calc(100% - 60px)
    margin-left: 40px
  .b-history-text__img
    float: none
  .b-history-hidden__close
    right: 0
    top: auto
    bottom: 100%
  .b-map__txt
    padding: 25px 30px
    margin: 35px 15px

  
// ≥576px
+media-breakpoint-down(xs)
  .b-autopark-car-table
    width: 100%
    tr,
    td
      display: block
      text-align: center
      &:first-child
        text-align: center
      &:last-child
        padding: 15px 0 0 0
  .b-info
    padding: 40px 20px
  .b-tabs
    margin-left: 0
    margin-right: 0
    margin-bottom: 10px
  .b-tabs__item
    width: 100%
    margin: 0 0 20px 0
        


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
  .container 
    max-width: 1180px