@import "normalize"
@import "vars"
@import "fonts"
@import "libs"
@import '../img/sprite/sprite.css'

::placeholder
	color: #666

::selection
	color: #fff

*
	min-width: 0px
	min-height: 0px

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

a
	color: $blue
	&:hover
		color: $red
		text-decoration: none

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.txt-c
	text-align: center

b, strong
	font-weight: bold


.icon
	display: inline-block

p
	margin-bottom: 0

.b-main
	background: $gray4

.pos-r
	position: relative

//btns
.btn
	display: inline-block
	padding: 20px 50px
	border-radius: 3px
	border: none
	transition: 0.3s
.btn--red
	background: $red
	color: $white
	&:hover
		color: $white
		background: $red2


//titles
h1
	font-size: 45px
	line-height: 1
	font-weight: 300
h2
	font-size: 30px
	line-height: 1.2
	font-weight: 300



//slick
.slick-slide
	&:focus
		outline: none
.slick-arrow
	display: inline-flex
	width: 45px
	height: 30px
	padding: 0
	justify-content: center
	align-items: center
	border: none
	background: none
	transition: 0.3s
	z-index: 2
	&:focus
		outline: none
	&:hover
		opacity: 0.7
.slick-arrow--next
	transform: rotate(180deg)
.slick-dots
	padding: 0
	margin: 20px 0 0
	text-align: center
	li
		display: inline-block
	button
		display: inline-block
		width: 20px
		height: 20px
		padding: 0
		margin: 0 4px
		border: none
		border-radius: 50%
		background: none
		color: rgba(255,255,255,0)
		background: $gray5
		transition: 0.3s
		&:focus
			outline: none
	.slick-active
		button
			background: $blue



//sections
.section-pad-t
	padding-top: 90px
.section-pad-b
	padding-bottom: 90px
.section__title
	margin-bottom: 20px



//header
.b-header
	background: $gray1
.b-header__container
	display: flex
	justify-content: space-between
.b-header-main
	display: flex
	padding: 0 30px
	justify-content: space-around
	flex: 1 1 auto
.b-logo
	padding: 20px 0
	img
		max-width: 100%
.b-nav
	padding: 0
	margin: auto -15px
	list-style: none
	li
		display: inline-block
.b-nav__link
	display: inline-block
	margin: 0 15px
	font-size: 15px
	color: $black
	transition: 0.3s
	&:hover
		color: $red
		text-decoration: none
.b-phone
	margin: auto 0
	font-size: 18px
	font-weight: bold
	color: $black
	transition: 0.3s
	&:hover
		color: $red
		text-decoration: none
.b-header__request-call
	display: inline-flex
	align-items: center
	padding: 10px 25px
	color: $white
	font-size: 13px
	text-transform: uppercase
	background: $red
	transition: 0.3s
	&:hover
		color: $white
		background: $red2



//b-main-section__body
.b-main-section
	position: relative
	background-repeat: no-repeat
	background-position: top right
	background-size: cover
	color: $white
	z-index: 1
.b-main-section__body
	padding: 120px 0
	text-align: center
.b-main-section__title
	margin-bottom: 40px
.b-main-section__footer
	border-top: 1px solid $gray2
.b-main-section-link
	display: flex
	padding: 55px 15px
	color: $white
	font-size: 24px
	font-weight: bold
	align-items: center
	justify-content: center
	transition: 0.3s
	.icon
		margin-right: 20px
	&:nth-child(2n)
		border-left: 1px solid $gray2
		.b-main-section-link__hidden
			left: auto
			right: 0
	&:hover
		color: $white
		background: $blue
		.b-main-section-link__hidden
			display: block
		&:after
			content: ""
			display: inline-block
			position: absolute
			bottom: 0
			left: 50%
			width: 0
			height: 0
			transform: translateX(-50%)
			border-left: 20px solid transparent
			border-right: 20px solid transparent
			border-bottom: 20px solid $white
.b-main-section-link__hidden
	display: none
	position: absolute
	top: 100%
	left: 0
	width: 1150px
	max-width: 100vw
	padding: 30px
	background: $white
	text-align: center
	box-shadow: 0px 14px 84px 0px rgba(7, 45, 72, 0.36);




//preview news
.news-preview-slider
	margin-left: -15px
	margin-right: -15px
	padding-bottom: 50px
	.slick-arrow
		position: absolute
		bottom: 0
	.slick-arrow--prev
		left: calc(50% - 25px)
	.slick-arrow--next
		left: calc(50% + 25px)
.news-preview
	margin: 0 15px
	padding: 25px 35px
	background: $white
	box-shadow: 0px 2px 2px 0px rgba(7, 45, 72, 0.11)
.news-preview__date
	margin-bottom: 15px
	font-size: 13px
	color: $gray3
.news-preview__name
	margin-bottom: 6px
	font-size: 18px
	line-height: 1.3
	font-weight: bold
	color: $black
.news-preview__txt
	font-size: 13px
.news-preview__show-all
	position: absolute
	bottom: 10px
	right: 0
	font-size: 13px






//footer
.b-footer
	padding: 22px 0
	background: $blue2
	color: $gray6
	font-size: 13px
	a
		color: $gray7
		&:hover
			color: $blue
.b-footer-container
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.b-footer-path
	display: flex
	flex-direction: column
	justify-content: space-between
.b-footer-logo
	display: inline-block
	margin-bottom: 15px
	font-size: 16px
.b-footer-nav
	list-style: none
	margin: 8px 0 0
	padding: 0
	a
		color: $gray6
		&:hover
			color: $blue
	



//video
.b-video
	display: inline-block
	position: relative
	img
		max-width: 100%
.b-video__play
	position: absolute
	left: 50%
	top: 50%
	transform: translateX(-50%) translateY(-50%)


@import "media" // Always at the end
